{% extends "admin/change_list.html" %}
{% load admin_urls static admin_list %}

{% block object-tools-items %}
    {{ block.super }}

    <li>
        <a href="http://localhost:5601/app/discover#/?_a=(columns:!(),dataSource:(type:esql),filters:!(),interval:auto,query:(esql:'FROM code_snippets'),sort:!())&_g=(filters:!(),refreshInterval:(pause:!t,value:60000),time:(from:now-15m,to:now))" target="_blank" style="background-color: #4a9eff; border-color: #4a9eff;">
            Code Search
        </a>
    </li>
{% endblock %}
